<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <title>COVID-19 Statistic | Welcome</title>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <nav class="navbar navbar-light">
      <span class="navbar-brand mb-0 h1"><img class="brand-img" src="zlogo.png" alt=""></span>
    </nav>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Covid-19 Statistics.</h1>
    <p class="lead">Get up to date with the current situational reports on the global COVID-19 pandemic. Stay healthy and be happy! </p>
    <form class="lead" action="/search" method="post">
      <button class="btn btn-lg btn-dark" type="submit" name="submit">Search</button>
    </form>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Created by <a href="https://www.linkedin.com/in/zaffere-shaffari-367410121/"><i class="fab fa-linkedin"></i> <small>Zaffere</small></a>.</p>
    </div>
  </footer>



</body>
</html>
