#jumbotron, .back-btn {
  background-color: #eb9950;
  font-family: 'helvetica';
}
 body {
   background-color: #eee;
 }

 html,
 body {
   height: 100%;
 }

 .cover-container {
   max-width: 42em;
 }


 /*
  * Cover
  */
 .cover {
   padding: 0 1.5rem;
 }
 .cover  {
   padding: .75rem 1.25rem;
   font-weight: 700;
 }

 .cover-heading, .lead {
   color: #333;
 }


 /* Autocomplete*/

 .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
